@tailwind base;
@tailwind components;
@tailwind utilities;


.banner {
    background-image: url("https://image.tmdb.org/t/p/original//hVMoqvXs5j9ffun56tZ5YhliSD9.jpg");
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 448px;
    object-fit: contain;
  }

  .banner--fadeBottom {
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
    height: 10rem;
  }

  body{
    background-color: #111;
  }